.wallmagPage {
  height: 100vh;
  width: 100vw;
  background: url("../../../public/static/images/updatedLibraryBgImage.png")
    no-repeat center center;
  background-size: cover;
}
.web1 {
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
}
.web2 {
  height: 6vh;
  position: fixed;
  bottom: 0;
  right: 0;
}
.cross {
  position: fixed;
  top: 2rem;
  right: 2rem;
}
.wallmagHeading {
  font-family: "NightmarePills";
  text-align: center;
  font-size: 2.5rem;
  padding-top: 2rem;
  color: #78bbf0;
  text-shadow: 0px 2.748150110244751px 25.420387268066406px
    rgba(120, 187, 240, 0.8);
}
.scrollBarContainer {
  height: 80%;
  width: 10%;
  /* padding-top: 6% ; */
  display: flex;
  justify-content: center;
  position: relative;
}
.scrollBarContainer img {
  position: absolute;
  transform: translateY(-50%);
  /* width: 40px;
aspect-ratio: 1/1; */
}
.scrollBar {
  background: #7bbef0;
  width: 4px;
  stroke-width: 7px;
  stroke: #5992bd;
  filter: drop-shadow(0px 0px 15px rgba(123, 190, 240, 0.91));
  border-radius: 5px;
}
.wallmagContent{
    height: 80vh;
    margin-top: 5vh;
    display: flex;
    align-items: center;
}
.wallmagContentContainer{
    height: 100%;
    width: 100%;
    margin-right: 5vw;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.wallmagContentContainer::-webkit-scrollbar {
    display: none;
  }
.cardsContainer{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.card{
    background: url("/static/images/wallmagcard.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    padding: 3% 2% 2% 2%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.cardImageContainer{
    display: flex;
}
.cardImageContainer img{
    flex-grow: 0;
    flex-shrink: 0;
    height: 5rem;
}
.cardHeading{
    display: flex;
    flex-direction: column;
}
.cardHeading h1{
    text-align: center;
    font-family: 'OldNewspaperTypes';
    font-size: 1.5rem;
    color: rgb(74, 20, 20);
}
.cardHeading h2{
    text-align: center;
    font-family: 'OldNewspaperTypes';
    font-size: 1rem;
    color: rgb(74, 20, 20);
}
.cardDesc p{
    color: #4A1414;
    text-align: center;
    font-family: 'MetalMania';
    font-size: 12px;
}
@media (max-width:1000px) {
    .card{
        padding: 3% 3% 2% 3%;
    }
}
@media (max-width:600px) {
    .card{
        padding: 3% 4% 2% 6%;
    }
}
@media (max-width:350px){
    .wallmagContentContainer{
        margin-right: 1vw;
    }
}