@font-face {
  font-family: 'NightmarePills';
  src: url('../../public/static/fonts/NIGHTMARE PILLS - DEMO.ttf') format('truetype');
}
@font-face {
  font-family: 'MetalMania';
  src: url('../../public/static/fonts/MetalMania-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  src: url(../../public/static/fonts/Montserrat.ttf) format('truetype');
}
@font-face {
  font-family: 'Mantinia';
  src: url(../../public/static/fonts/Mantinia\ CC\ Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'KoPubBatang';
  src: url(../../public/static/fonts/KoPubBatang-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'OldNewspaperTypes';
  src: url(../../public/static/fonts/OldNewspaperTypes.ttf) format('truetype');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select:none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: white !important;
  transition: background-color 999999s ease-in-out 0s;
}
html{
  overscroll-behavior: none;
}
html,body{
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
  height: 100%;
  width:100%;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

.swiper-slide{
  width: 100% !important;
}

.customHover{
  cursor: none;
}

