.pageTransition {
  display: flex;
  justify-content: space-between;
}
.pageTransition img {
  position: fixed;
  z-index: 50;
}
.scope {
  position: relative;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  cursor: none;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.pageWrapper {
  height: 100dvh;
  width: 100vw;
  /* background: url(../../public/static/images/updatedLibraryBgImage.png); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: fixed;
  z-index: 10;
  background-size: 100vw 100vh;
  scroll-snap-align: start;
  scroll-behavior: smooth;
  scroll-snap-destination: 0% 60%;
}
.pageBgImage {
  position: fixed;
  height: 100vh;
  width: 100vw;
}
.eventsWrapper {
  position: relative;
  height: 5000vh;
  width: 4096px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  opacity: 0;
  visibility: hidden;
}
.contactsWrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  scrollbar-width: none;
  -ms-overflow-style: none;
  opacity: 0;
  visibility: hidden;
  height: auto;
  scroll-snap-align: start;
  scroll-behavior: smooth;
  scroll-snap-destination: 0% 60%;
}
.aboutWrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  scrollbar-width: none;
  -ms-overflow-style: none;
  opacity: 0;
  visibility: hidden;
  height: auto;
  scroll-snap-align: start;
  scroll-behavior: smooth;
  scroll-snap-destination: 0% 60%;
}

.eventsMobileWrapper{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  scrollbar-width: none;
  -ms-overflow-style: none;
  opacity: 0;
  visibility: hidden;
  height: auto;
  scroll-snap-align: start;
  scroll-behavior: smooth;
  scroll-snap-destination: 0% 60%;
}
.eventsWrapper::-webkit-scrollbar {
  display: none;
}
.navSection {
  position: fixed;
  left: 4rem;
  transform-origin: left;
  transform: rotate(-90deg);
  z-index: 20;
  width: 100vh;
  display: flex;
  justify-content: center;
  top: 100%;
}
@media (max-width: 820px) {
  .scope {
    height: 100vh;
    overflow-y: scroll;
  }
  .pageWrapper {
    position: relative;
    z-index: 1;
  }
  .pageBgImage {
    /* display: none; */
  }
  .aboutWrapper{
    position: relative;
    visibility: visible;
    opacity: 1;
    min-height: fit-content;
    z-index: 15;
  }
  .eventsWrapper {
    position: static;
    visibility: visible;
    opacity: 1;
    height: 0vh;
  }
  .contactsWrapper {
    position: static;
    visibility: visible;
    opacity: 1;
    min-height: fit-content;
  }
}
.hamSection {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.hamBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.hamAsset {
  display: flex;
  position: relative;
}
.hamAsset img {
  scale: 1;
}
.hamAsset:hover > img {
  animation: rotation360 10s linear infinite forwards;
}

/* Adding hover effect as animation - infinite rotate 360 deg */
@keyframes rotation360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hamBG {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: #000;
  border-radius: 50%;
  height: 90px;
  width: 90px;
}
@media (max-width: 800px) {
  .hamBG {
    height: 80px;
    width: 80px;
  }
}
.hamIcon {
  height: 4.5rem;
  position: absolute;
  top: 1rem;
  left: 2.45rem;
  width: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 0;
  /* cursor: pointer; */
  z-index: 1000;
  scale: 0.8;
}
@media (max-width: 500px) {
  .hamIcon {
    scale: 0.75;
  }
}

@media (max-width: 600px) {
  .scope{
    cursor: auto;
  }
}

.hamIcon1 {
  height: 3.5px;
  width: 50%;
  border-radius: 5px;
  background-color: #7bbef0;
  filter: drop-shadow(0px 0px 10.649142265319824px #5db3f1);
  display: inline-block;
  transform-origin: bottom;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.hamIcon2 {
  height: 3.5px;
  width: 100%;
  border-radius: 5px;
  background-color: #7bbef0;
  filter: drop-shadow(0px 0px 10.649142265319824px #5db3f1);
  display: inline-block;
  transform-origin: top;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.hamIcon3 {
  height: 3.5px;
  width: 75%;
  border-radius: 5px;
  background-color: #7bbef0;
  filter: drop-shadow(0px 0px 10.649142265319824px #5db3f1);
  display: inline-block;
  transform-origin: center left;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transform-origin: bottom;
}

.midSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  /* position: relative;
    z-index: 2; */
}
.registerBtnWrapper {
  transition: scale 0.2s ease-in-out;
  position: relative;
  z-index: 3;
  height: fit-content;
  display: inline-block;
}
.registerBtnWrapper:hover {
  /* cursor: pointer; */
  scale: 1.1;
}
.landingPageDate > span {
  color: #7abdf0;
  font-family: "MetalMania";
  font-weight: 300;
  font-size: 1.5rem;
  position: relative;
  z-index: 3;
}
.textLogoWrapper {
  position: relative;
  top: 2vh;
  animation: glow 1s ease-in-out infinite alternate;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.LandingBookImg {
  width: 80%;
  object-fit: contain;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

.landingPageDate span {
  position: relative;
  text-shadow: 0px 1.4420713186264038px 9.37346363067627px
    rgba(110, 174, 234, 0.9);
}
.bookImgWrapper {
  position: relative;
  transform: translateY(-15%);
  width: max(80%, 650px);

  display: flex;
  justify-content: center;
  align-items: center;
}
.leftElements {
  z-index: 1;
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;

  /* animation-name: floating;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; */
  /* animation-delay: 0.5s; */
}

.leftSymbol,
.rightSymbol {
  position: absolute;
  width: 100px;
  height: 100px;

  /* transform: scale(1.4); */
  /* right: 25%;
    top: 50%; */
}

.landingPgLeftGrp {
  position: absolute;
  /* left: -120px;
    bottom: 170px; */
  top: 0;
}
.rightElements {
  position: absolute;
  left: 50%;
  width: 50%;
  height: 100%;

  /* animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 1s; */

  /* display: flex;
    justify-content: end;
    align-items: center; */
}
.landingPgRightGrp {
  position: absolute;
  /* left: -140px;
    bottom: 170px; */
  top: 0;
}
.navbar {
  align-self: baseline;
}
/* .textLogoImg{
   width: 400px;
    } */

.loaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 100dvh;
  width: 100vw;
  background-color: black;
  /* background-image: url("../../public/static/images/LibraryBgImage.avif"); */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  opacity: 1;
  /* transition: opacity 0.5s ease; */
}
.loaderContainer video {
  scale: 0.5;
}
.loaded {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.registerBtnContainer {
  transform: translateY(-40%);
}

@media (max-width: 1400px) {
  .textLogoImg {
    scale: 0.85;
  }
  .LandingBookImg {
    scale: 0.95;
  }
}
@media (max-width: 1250px) {
  .bookImgWrapper {
    transform: translateY(-25%);
  }
}
@media (max-width: 1150px) {
  .textLogoImg {
    scale: 0.75;
  }
}
@media screen and (max-width: 1250px) {
  .leftSymbol,
  .rightSymbol {
    width: 80px;
    height: 80px;
  }
}
@media screen and (max-width: 560px) {
  .textLogoImg {
    scale: 0.7;
  }

  .hamBtn img {
    scale: 0.8;
  }
  .hamIcon {
    scale: 0.8;
    /* height: 3rem; */
    margin-left: -.25rem;
  }
  .hamAsset {
    scale: 0.8;
    z-index: 10;
  }
}
@media screen and (max-width: 400px) {
  .textLogoImg {
    scale: 0.5;
  }
}
@media screen and (max-width: 900px) {
  .landingPgLeftGrp {
    scale: 0.6;
    /* bottom: 150px;
            left: 60px; */
  }
  .landingPgRightGrp {
    scale: 0.6;
    /* left: -330px;
            bottom: 150px; */
  }
}
@media screen and (max-width: 750px) {
  .landingPgLeftGrp {
    scale: 0.5;
    /* bottom: 130px;
            left: 100px; */
  }
  .landingPgRightGrp {
    scale: 0.5;
    /* left: -390px;
            bottom: 140px; */
  }
}
@media screen and (max-width: 600px) {
  /* .LandingBookImg{
            scale: 0.4;
        } */
  .landingPgLeftGrp {
    scale: 0.5;
    /* bottom: 140px;
            left: 130px; */
  }
  .landingPgRightGrp {
    scale: 0.5;
    /* left: -410px;
            bottom: 150px; */
  }
}
@media screen and (max-width: 550px) {
  .bookImgWrapper {
    width: 100%;
  }

  .LandingBookImg {
    width: 100%;
  }

  .leftSymbol,
  .rightSymbol {
    /* display: none; */
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 1250px) and (max-height: 670px) {
  .textLogoWrapper {
    top: 10vh;
  }
  .bookImgWrapper {
    scale: 0.8;
  }
}
@media (max-height: 775px) and (min-width: 900px) {
  .pageWrapper {
    overflow: hidden;
  }
  .bookImgWrapper {
    transform: translateY(-25%);
  }
  .textLogoWrapper {
    top: 7vh;
    scale: 0.8;
  }
  .bookImgWrapper {
    scale: 0.8;
  }
}
@media (max-height: 675px) and (min-width: 900px) {
  .pageWrapper {
    overflow: hidden;
  }
  .bookImgWrapper {
    transform: translateY(-35%);
  }
  .textLogoWrapper {
    top: 7vh;
    scale: 0.8;
  }
  .bookImgWrapper {
    scale: 0.8;
  }
}
.navLogo {
  position: absolute;
  top: 0;
  margin-left: 2rem;
  margin-top: 2rem;
}
