.pageWrapper{
    min-height: 100vh;
    height: auto;
    width: 100vw;
    background: url(../../public/static/images/LibraryBgImage.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}
.hamSection{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.hamBtn{  
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hamBG{
  position: absolute;
  top: 2rem;
  right: 4.75rem;
  background: #000;
  border-radius: 50%;
  height: 90px;
  width: 90px;
}
@media(max-width: 800px){
  .hamBG{
    height: 80px;
    width: 80px;
  }
}
.hamIcon {
  position: absolute;
  right: 4.75rem;
  height: 4.75rem;
  width: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 0;
  position: relative;
  z-index: 100000;
  cursor: pointer;
}

.hamIcon1 {
  height: 3.5px;
  width: 50%;
  border-radius: 5px;
  background-color: #7BBEF0;
  filter: drop-shadow(0px 0px 10.649142265319824px #5DB3F1);
  display: inline-block;
  transform-origin: bottom;
  transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.hamIcon2 {
  height: 3.5px;
  width: 100%;
  border-radius: 5px;
  background-color: #7BBEF0;
  filter: drop-shadow(0px 0px 10.649142265319824px #5DB3F1);
  display: inline-block;
  transform-origin: top;
  transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.hamIcon3 {
  height: 3.5px;
  width: 75%;
  border-radius: 5px;
  background-color: #7BBEF0;
  filter: drop-shadow(0px 0px 10.649142265319824px #5DB3F1);
  display: inline-block;
  transform-origin: center left;
  transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transform-origin: bottom;
}

.midSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* position: relative;
    z-index: 2; */
}
.registerBtnWrapper{
    transition: scale 0.2s ease-in-out;
    position: relative;
    z-index: 2;
}
.registerBtnWrapper:hover{
    cursor: pointer;
    scale: 1.1;
}
.landingPageDate > span{
    color: #7ABDF0;
    font-family: 'MetalMania';
    font-weight: 300;
    font-size: 1.5rem;
    position: relative;
    z-index: 2;
}
.textLogoWrapper{
    position: relative;
    top: 10vh;
    margin-top: 2rem;
    animation: glow 1s ease-in-out infinite alternate;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  
}
.LandingBookImg{
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

.landingPageDate span {
    position: relative;
  }
  .landingPageDate span::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    bottom: -2px;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
  }
  .landingPageDate span:hover::before {
    transform: scaleX(1); 
  }
  .bookImgWrapper{
    display: flex;
  }
  .leftElements{
    position: relative;
    animation-name: floating;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /* animation-delay: 0.5s; */
  }
  .landingPgLeftGrp{
    position: absolute;
    left: -120px;
    bottom: 170px;
  }
  .rightElements{
    position: relative;
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
  }
  .landingPgRightGrp{
    position: absolute;
    left: -140px;
    bottom: 170px;
  }
  .navbar{
    align-self: baseline;
  }
  /* .textLogoImg{
   width: 400px;
    } */
    @media screen and (max-width: 560px) {
        .textLogoImg{
            scale: 0.75;
             }
      }
    @media screen and (max-width: 400px) {
        .textLogoImg{
            scale: 0.5;
             }
      }
    @media screen and (max-width: 1250px) {
        .LandingBookImg{
            scale: 0.75;
        }
        .landingPgLeftGrp{
            scale: 0.75;
            /* bottom: 0; */
            left: -10px;
        }
        .landingPgRightGrp{
            scale: 0.75;
            left: -270px;
        }
      }
    @media screen and (max-width: 900px) {
        .LandingBookImg{
            scale: 0.6;
        }
        .landingPgLeftGrp{
            scale: 0.6;
            bottom: 150px;
            left: 60px;
        }
        .landingPgRightGrp{
            scale: 0.6;
            left: -330px;
            bottom: 150px;
        }

      }
    @media screen and (max-width: 750px) {
        .LandingBookImg{
            scale: 0.5;
        }
        .landingPgLeftGrp{
            scale: 0.5;
            bottom: 130px;
            left: 100px;
        }
        .landingPgRightGrp{
            scale: 0.5;
            left: -390px;
            bottom: 140px;
        }

      }
    @media screen and (max-width: 600px) {
        .LandingBookImg{
            scale: 0.4;
        }
        .landingPgLeftGrp{
            scale: 0.5;
            bottom: 140px;
            left: 130px;
        }
        .landingPgRightGrp{
            scale: 0.5;
            left: -410px;
            bottom: 150px;
        }

      }
    @media screen and (max-width: 550px) {
        .LandingBookImg{
            scale: 0.5;
        }
        .landingPgLeftGrp{
            scale: 0.2;
            bottom: 140px;
            left: 130px;
            display: none;
        }
        .landingPgRightGrp{
            scale: 0.5;
            left: -410px;
            bottom: 150px;
            display: none;
        }

      }
    @media screen and (max-width: 400px) {
        .LandingBookImg{
            scale: 0.35;
        }
      }
      .loaderContainer{
        height: 100vh;
        width: 100vw;
        background-color: black;
        /* background-image: url("../../public/static/images/LibraryBgImage.avif"); */
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-position: center; */
        /* background-repeat: no-repeat; */
        /* background-size: cover; */
        opacity: 1;
        /* transition: opacity 0.5s ease; */
      }
      
      .loaded {
        opacity: 0; 
        transition: opacity 0.5s ease; 
      }