.pageWrapper {
  /* background: black; */
  height: 100dvh;
  width: 100vw;

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.pageWrapper > img {
  position: absolute;
  /* object-fit: cover; */
}

.pageWrapper > img:first-child {
  z-index: -1;
}

.heading {
  /* border: 2px solid green; */
  flex: 0 0 auto;
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heading h1 {
  color: #78bbf0;
  text-align: center;
  text-shadow: 0px 2.748150110244751px 25.420387268066406px
    rgba(120, 187, 240, 0.8);
  font-family: NightmarePills;
  font-size: 67px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contentContainer {
  flex: 1 1 auto;
  /* border: 2px solid red; */

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 3rem;

  overflow: hidden;
}

.carouselContainer {
  /* border: 2px solid blue; */
  border: 1.4px solid #78bbf0;
  box-shadow: 0px 4px 50px 0px rgba(120, 187, 240, 0.5);

  max-height: 50%;
  /* width: 60%; */
  aspect-ratio: 16/9;
  max-width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;

  /* margin-top: 2rem; */

  position: relative;

  /* overflow: hidden; */
}

.carouselHand {
  position: absolute;
  width: 70%;
  height: auto;
  top: 0;
  transform: translateY(-30%);
  z-index: 3;
}

.carouselControllerButtons{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140%;
    height: 100%;
}

.carouselControllerButtonsMobile{
  display: none;
}

.carouselControllerButtons button, .carouselControllerButtonsMobile button{
    background-color: transparent;
    border: none;
    transition: all 0.5s ease-in-out;
}

.carouselControllerButtons button:hover, .carouselControllerButtonsMobile button:hover{
    cursor: pointer;
}

.carouselControllerButtons button:disabled, .carouselControllerButtonsMobile button:disabled{
    cursor: not-allowed;
}

.carouselLeftButton{
    /* color: #78bbf0;
    font-size: 2rem;
    transform: translateX(-50%); */
}

.carouselRightButton{
    /* color: #78bbf0;
    font-size: 2rem;
    transform: translateX(50%); */
}

.description {
  /* border: 2px solid yellow; */
  width: 60%;
}

.description p {
  color: #e6e6e6;
  text-align: center;
  font-family: MetalMania;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1; /* 24px */
}

.leftHand {
  bottom: -15%;
  left: 7%;
  height: 250px;
  width: auto;
  /* transition: all 5s ease-in-out; */
  transform: translate(30%, -30%) rotate(10deg);
}

.rightHand {
  bottom: 10%;
  right: -3%;
  height: 250px;
  width: auto;
  /* transition: all 0.5s ease-in-out; */
  /* transform: rotateY(180deg) rotateZ(30deg); */
  transform: translate(-30%, -10%) rotateY(180deg) rotateZ(35deg);
}

@media screen and (max-width : 1110px) {
  .carouselControllerButtons{
    width: 120%;
  }
  .description {
    width: 75%;
  }
  .leftHand, .rightHand{
    display: none;
  }
}

@media screen and (max-width:600px) {
  .carouselControllerButtons{
    display: none;
  }
  .carouselControllerButtonsMobile{
    display: flex;
    width: 20%;
    justify-content: space-between;
    scale: 0.8;
  }
  .contentContainer{
    gap: 2rem;
  }
}
