.wrapper {
  height: 100%;
  position: relative;
}
.scrollDist {
  position: absolute;
}
.container {
  position: absolute;
}
.wrapper img {
  position: absolute;
}
.wrapper svg {
  scale: 0.75;
  position: absolute;
  transform-origin: center;
  transform: translateX(50%) translateY(50%);
}
.itemWrapper {
  height: 100%;
  width: 100%;
  position: relative;
}
.itemContainer {
  display: flex;
  position: absolute;
  height: 10%;
  width: 16%;
  z-index: 5;
}
.itemImage {
  height: 100%;
  width: 300%;
}
.itemContent {
  margin-top: 1rem;
  color: #fff;
  font-family: "KoPubBatang";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
}
.itemContent p {
  margin-top: 0.5rem;
  color: #fff;
  font-family: "OldNewspaperTypes";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
}
.backBtn {
  z-index: 100;
  position: fixed;
  top: 5vh;
  left: 50vw;
  transform: translateX(-50%);
}
.backBtn button {
  border: 3px solid #7bbef0;
  background: rgba(0, 0, 0, 0.33);
  color: #7bbef0;
  text-align: center;
  font-family: "KoPub Batang";
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; 
  cursor: pointer;
  padding: .25rem;
}

.itemData{
  height: 200vh;
  width: 101vw;
  position: fixed;
  top: 0;
  left: 1.2%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .25;
  background: rgba(0, 0, 0, 0.25);
  z-index: 20;
}
@media (max-width: 1300px) {
  .itemContainer {
    width: 15%;
  }
  .itemImage {
    scale: 0.8;
  }
  .itemContent {
    font-size: 1.25rem;
    margin-top: 2rem;
  }
  .itemContent p {
    font-size: 0.85rem;
  }
}
