.carouselControllerButtons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 100%;
}

.carouselControllerButtonsMobile {
  display: none;
}

.carouselControllerButtons button,
.carouselControllerButtonsMobile button {
  background-color: transparent;
  border: none;
  transition: all 0.5s ease-in-out;
}

.carouselControllerButtons button:hover,
.carouselControllerButtonsMobile button:hover {
  cursor: none;
}

.carouselControllerButtons button:disabled,
.carouselControllerButtonsMobile button:disabled {
  cursor: not-allowed;
}

.carouselLeftButton {
  color: #78bbf0;
}
.carouselRightButton {
  color: #78bbf0;
}

@media screen and (max-width: 1110px) {
  .carouselControllerButtons {
    width: 95%;
  }
}

@media screen and (max-width: 600px) {
  .carouselControllerButtons {
    display: none;
  }
  .carouselControllerButtonsMobile {
    display: flex;
    width: 95%;
    justify-content: space-between;
    scale: 0.8;
  }
}
