.background {

    width: 100%;
    height: 100%;
    background-image: url("../../public/static/images/hamBG.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.innercircle {
    border-radius: 25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.innercircle img {
    width: 23rem;
    height: 23rem;
    border-radius: 23.5rem;
}

.logo {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.logo img {
    height: 8rem;
    width: 8rem;
}

.outerpath {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49.5%, -49.5%);
    height: 50rem;
}

.outerpath svg {
    height: 48rem;
}

.glowbox {
    height: 0;
    width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.glowbox img {
    height: 5rem;
    filter: blur(0.5rem);
}

.circle {
    --circle-size: 44rem;
    --item-distance: calc(var(--circle-size) / 2);
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white
}

.item {
    --item-size: 3.25rem;
    position: absolute;
    width: var(--item-size);
    height: var(--item-size);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.5rem;
    border: solid white 0.75px;
    font-family: 'Montserrat';
}

.item:nth-child(5) {
    transform: rotate(0deg) translate(var(--item-distance));
}

.item:nth-child(4) {
    transform: rotate(72deg) translate(var(--item-distance));
}

.item:nth-child(4)>* {
    transform: rotate(-72deg);
}

.item:nth-child(3) {
    transform: rotate(150deg) translate(var(--item-distance));
}

.item:nth-child(3)>* {
    transform: rotate(-150deg);
}

.item:nth-child(2) {
    transform: rotate(210deg) translate(var(--item-distance));
}

.item:nth-child(2)>* {
    transform: rotate(-210deg);
}

.item:nth-child(1) {
    transform: rotate(288deg) translate(var(--item-distance));
}

.item:nth-child(1)>* {
    transform: rotate(-288deg);
}

.circle2 {
    --circle2-size: 52rem;
    width: var(--circle2-size);
    height: var(--circle2-size);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white
}

.tag {
    position: absolute;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.5rem;
    font-family: 'Montserrat';
    color: #858585;
    text-align: right;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.5;
}

.tag:nth-child(5) {
    transform: rotate(0deg) translate(31.5rem);
}

.tag:nth-child(4) {
    transform: rotate(48deg) translate(28rem);
}

.tag:nth-child(4)>* {
    transform: rotate(-48deg);
}

.tag:nth-child(3) {
    transform: rotate(158deg) translate(30rem);
}

.tag:nth-child(3)>* {
    transform: rotate(-158deg);
}

.tag:nth-child(2) {
    transform: rotate(202.5deg) translate(29rem);
}

.tag:nth-child(2)>* {
    transform: rotate(-202.5deg);
}

.tag:nth-child(1) {
    transform: rotate(305.5deg) translate(26rem);
}

.tag:nth-child(1)>* {
    transform: rotate(-305.5deg);
}

