.navWrapper {
  display: flex;
  gap: 3rem;
}
.navItem {
  color: #9ed4fb;
  text-align: center;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 20px */
  text-decoration: none;
}
.navItem:hover {
  cursor: pointer;
}
@media (max-height: 820px) {
  .navWrapper {
    gap: 2rem;
  }
  .navItem {
    font-size: 1.05rem;
  }
}
@media (max-height: 720px) {
  .navWrapper {
    gap: 1rem;
  }
  .navItem {
    font-size: 1rem;
  }
}
@media (max-width: 800px) {
  .navWrapper {
    display: none;
  }
}
@media (max-height: 685px) {
  .navWrapper {
    display: none;
  }
}

@media (max-width: 1250px) {
    .navWrapper{
        gap: 2rem;
    }
    .navItem{
        font-size: 1.05rem;
    }
}
@media (max-width: 1120px) {
    .navWrapper {
      gap: 1rem;
    }
    .navItem {
      font-size: 1rem;
    }
  }