.navWrapper {
  display: flex;
}
.navItem {
  color: #9ed4fb;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 20px */
  text-decoration: none;
}
.navItem:hover {
  cursor: pointer;
}
  .navWrapper {
    gap: 2rem;
  }
  .navItem {
    font-size: 1.05rem;
  }

@media (max-height: 720px) {
  .navWrapper {
    gap: .75rem;
  }
  .navItem {
    font-size: .75rem;
  }
}
@media (max-width: 800px) {
  .navWrapper {
    display: none;
  }
}
@media (max-height: 605px) {
  .navWrapper {
    gap: .75rem;
  }
  .navItem {
    font-size: .75rem;
  }
}

@media (max-width: 1250px) {
    .navWrapper{
        gap: 1.5rem;
    }
    .navItem{
        font-size: .85rem;
    }
}
@media (max-width: 1120px) {
    .navWrapper {
      gap: .75rem;
    }
    .navItem {
      font-size: .75rem;
    }
  }